@model StudyTracker.ViewModels.CoursesWithStudentsVm

<h2>Курсы</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Добавить новый курс</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Преподаватель</th>
            <th>Записанные студенты</th> <!-- Новая колонка -->
            <th>Задания</th>
            <th>Редактировать</th>
            <th>Удалить</th>
            <th>Записать студента</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var courseVm in Model.Courses)
        {
            <tr>
                <td>@courseVm.Course.Name</td>
                <td>@courseVm.Course.Description</td>
                <td>@courseVm.Course.ProfessorName</td>
                <td>
                    @foreach (var student in courseVm.AssignedStudents)
                    {
                        <div>@student.UserName</div>
                    }
                </td>
                <td>
                    <a asp-controller="Assignment" asp-action="Index" asp-route-courseId="@courseVm.Course.Id" class="btn btn-info btn-sm">Задания</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@courseVm.Course.Id" class="btn btn-primary btn-sm">Редактировать</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@courseVm.Course.Id" class="btn btn-danger btn-sm">Удалить</a>
                </td>
                <td>
                    <a asp-action="Assign" asp-route-courseId="@courseVm.Course.Id" class="btn btn-warning btn-sm">Добавить студента</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("Administrator"))
{
    <a asp-controller="Report" asp-action="DownloadOverdueReport" class="btn btn-danger mb-3">
        Скачать отчет по просроченным студентам (.xlsx)
    </a>
}